.navbar {
  padding: 4px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin-right: 30px;
}
.heading h1 {
  font-size: 26px;
  font-weight: 700;
}
.heading p {
  font-size: 13px;
  font-weight: 600;
  color: rgb(175, 175, 175);
}
.left {
  display: flex;
  gap: 40px;
}
