# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz


# testing
/coverage

# next.js
/.next/
/out/

#
workflow.yml

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

zdeploy.yaml
zdeploy live.md
pipeline-treasury.yml

next.config.mjs

.env

/src/utils/constants.js
certificates

# MNIST data and model files
/data/MNIST/raw/t10k-images-idx3-ubyte
/data/MNIST/raw/t10k-images-idx3-ubyte.gz
/data/MNIST/raw/t10k-labels-idx1-ubyte
/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
/data/MNIST/raw/train-images-idx3-ubyte
/data/MNIST/raw/train-images-idx3-ubyte.gz
/data/MNIST/raw/train-labels-idx1-ubyte
/data/MNIST/raw/train-labels-idx1-ubyte.gz
/mnist_model.pth
/mnist_predict.py
/mnist_training.py