@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #006990;
}
/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Montserrat", Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f6;
}
* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.ag-theme-quartz .ag-cell {
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 13px;
}

.header-gray .ag-header-cell-label {
  color: "gray";
}
.ag-theme-quartz .ag-header-cell {
  font-weight: 700;
  font-size: 13px;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
}

.ag-theme-quartz {
  --ag-background-color: white;
  --ag-header-cell-hover-background-color: #b2e9ede4;
  --ag-input-focus-border-color: #b2e9ede4;
}
.ag-theme-quartz {
  --ag-selected-row-background-color: #b2e9ede4;
}
.ant-spin-dot-item {
  color: #006990 !important;
}
.ant-tabs-ink-bar {
  background-color: #006990 !important; /* Customize ink bar color */
}
.ant-tabs-tab-active .ant-tabs-tab-btn {
  font-weight: 500;
}
.ag-theme-quartz .ag-cell-inline-editing {
  height: 40px;
  box-shadow: none;
}
/* Remove the default border and padding to unify the look */
.ag-theme-quartz .ag-cell-inline-editing {
  border: none;
  padding: 0;
  display: flex; /* Ensures that the input takes the full width */
  align-items: center; /* Centers the input vertically */
}

/* Style the inner input element to look like a single unified cell */
.ag-theme-quartz .ag-cell-inline-editing input {
  width: 100%;
  border: none;
  outline: none;
  height: 100%;
  margin-bottom: -10px;
  font-size: inherit;
  background: transparent; /* Matches the cell background */
  box-shadow: none; /* Removes inner box shadow */
  height: 100%; /* Makes the input fill the entire cell */
}

/* Optional: Adjust focus state for a cleaner look */
.ag-theme-quartz .ag-cell-inline-editing input:focus {
  border: none;
  box-shadow: none;
}
