.ag-theme-quartz .ag-cell {
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 13px;
}

.header-gray .ag-header-cell-label {
  color: 'gray';
}
.ag-theme-quartz .ag-header-cell {
  font-weight: 600;
  font-size: 13px;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
}
.ag-theme-quartz {
  --ag-background-color: white;
  --ag-header-cell-hover-background-color: #b2e9ede4;
  --ag-input-focus-border-color: #b2e9ede4;
}
.ag-theme-quartz {
  --ag-selected-row-background-color: #b2e9ede4;
}
.custom-dropdown {
  width: 100%;
  height: 450px;
  margin-left: -17px;
}
.custom-segmented {
  font-family: 'Montserrat', sans-serif;
}

.custom-segmented .ant-segmented-item {
  padding: 3px 16px;
  font-size: 13px;
  color: #000000;
  background-color: transparent !important;
  border-radius: 6px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 1;
  position: relative;
}

.custom-segmented .ant-segmented-item-selected {
  color: #006990 !important;
  font-weight: 600;
  background-color: transparent !important;
}

.custom-segmented .ant-segmented-item:hover:not(.ant-segmented-item-selected) {
  color: #006990;
}

.custom-segmented .ant-segmented-thumb {
  background-color: rgba(0, 105, 144, 0.2) !important;
  border-radius: 6px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Fix for the active item's background */
.custom-segmented .ant-segmented-item-selected::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 105, 144, 0.2);
  border-radius: 6px;
  z-index: -1;
}
